<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mqms_staff">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MQMS Staff"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Login_Page2"
            android:parentActivityName=".Login_Page"/>
        <activity android:name=".CustomerReport" />
        <activity
            android:name=".user_profile"
            android:label="User Profile"
            android:parentActivityName=".home_page" />

        <activity
            android:name=".customer_display"
            android:label="Customer List"
            android:parentActivityName=".home_page" />

        <activity
            android:name=".home_page"
            android:label="Home Page" />

        <activity android:name=".Login_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Adapter.MyMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>